.form-booking {
    width: 760px;
    padding: 15px;
    margin: auto;
    z-index: 3;
}

.long {
    width: 325px !important;
}

.short {
    width: 215px !important;
}

.card {
    opacity: 0.8;
}

.booking-component {
    display: -ms-flexbox;
    display: flex;
    max-width: 760px;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 2;
}

.form-booking .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-booking .form-control:focus {
    z-index: 2;
}

.form-booking input select {
    margin-bottom: 5px;
}

.bookingRow {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 90px;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background: rgba(169, 169, 169, 0.69);
    z-index: 2;
}

.title {
    font-size: 18px;
    padding-top: 10px;
    margin: 0;
}

.btnProposals {
    width: 300px;
}

.confirm {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 700px;
    height: 70px;
}