.signup-component {
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 3;
}

.signup-component form {
    opacity: 0.9;
    z-index: 5;
    position: relative;
}

.card {
    margin-bottom: 1%;
}

.registration-mode {
    position: absolute;
    z-index: 5;
}

.overlay {
    position: fixed;
}

.verification {
    margin-top: 6%;
}